/* Medium Layout 

Checking Size: 1000px
*/

@media only screen and (min-width:992px) and (max-width:1200px) {
    .container{
        width: 970px;
    }
    .menu {
        margin-left: -2px;
    }
    .bannar-area {
        height: 80vh;
    }
    .bannar-footer img {
        width: 575px;
    }














    .mbox1-img {
        width: 144px;
        z-index: 1;
    }
    .mcontent {
        width: 332px;
        padding: 14px 0;
    }
    .mbtn {
    padding: 9px 2px;
    }
    .match-time {
        width: 13%;
    }
    .mbox2-img {
        width: 145px;
        margin-left: 282px;
    }
    .mcontent2 {
        width: 319px;
        padding: 12px 0;
    }
    .mbtn2 {
        padding: 9px 5px;
    }






    .team-area {
        position: relative;
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;
    }
    .single-team {
        width: 21%;
        margin-left: 2px;
    }
    .tbox1 {
        width: 130px;
        height: 105px;
    }
    .tbox2 {
        width: 70px;
        height: 183px;
    }
    .tbox3 {
        width: 73px;
        height: 224px;
    }
    .tbox4 {
        width: 128px;
        height: 150px;
    }
.team-img {
	width: 194px;
	top: 51%;
}
    .name-main {
        top: 75%;
    }
    .nbox1 {
        height: 32px;
        width: 89px;
        left: 9%;
        top: 56%;
    }
    .nbox2 {
        width: 181px;
        height: 38px;
        margin-top: 9px;
        left: 15px;
        padding: 7px;
    }
    .nbox3 {
        height: 26px;
        width: 151px;
    }
    .nbox4 {
        width: 6px;
        height: 39px;
        right: -205px;
        bottom: -48px;
    }
    .nbox5 {
        width: 6px;
        height: 39px;
        right: -215px;
        bottom: -48px;
    }
    .contact-left {
        float: left;
        width: 48%;
        margin-left: 17px;
    }
    .contact-left h4 {
        font-size: 28px;
    }
    .contact-left h5 {
        font-size: 32px;
    }
    .contact-left p {
        font-size: 16px;
        width: 435px;
    }
    .contact-btn1 {
        left: 30px;
    }
    .contact-right input {
        margin-right: 10px;
    }
    .single-team-img {
        margin: 0 -63px 0 16px;
    }

    .single-gears {
        width: 33%;
        margin: 40px 0px 9px 95px;
    }
    .gears-img {
        width: 355px;
    }
    .gears-btn {
        left: 104px;
    }
    .single-headline {
        width: 31%;
        margin-right: -13px;
        margin-left: 25px;
    }
    .headline-img {
        height: 203px;
        overflow: hidden;
    }
    .headline-btn {
        top: 39%;
    }
    .headline-admin ul li {
        margin: 12px 22px;
        font-size: 14px;
    }
    .headline-content {
        margin-top: 0px;
        padding: 0 12px;
    }
    .headline-content h1 {
        font-size: 16px;
    }
    .headline-content h1::before {
        height: 3px;
        bottom: 6%;
    }
    .headline-content h2 {
        padding: 0px 0;
        font-size: 18px;
    }
    .headline-content h2::after {
        height: 3px;
        bottom: 127px;
    }
    .headline-content h4 {
        font-size: 13px;
    }
    .footer-logo {
        margin-right: 3px;
        margin-left: 18px;
    }
    .footer-links {
        margin-right: 14px;
    }

    .footer-links2 {
        width: 21%;
    }
    .footer-last {
        top: 85%;
    }


}

/* Mobile layout */
/* Checking size:400px */
@media only screen and (max-width:767px){
    .container{
        width: 300px;
    }
    .menu {
        display: none;
    }
    .header-btn {
        display: none;
    }
    .bannar-area {
        width: 100%;
        height: 68vh;
    }
    .bannar-content {
        top: 35%;
        line-height: 27px;
    }
    .bannar-content p {
        font-size: 18px;
        margin-bottom: 7px;
    }
    .bannar-content h5 {
        font-size: 28px;
        line-height: 42px;
        width: 364px;
    }
    .bannar-footer {
        top: 42%;

    }
    .bannar-footer img {
        left: 0%;
    }
    .bannar-left {
        display: none;
    }
    .bannar-right {
        display: none;
    }




    .section-title {
        margin-top: -52px;
    }
    .section-title h4 {
        font-size: 15px;
    }
    .section-title h5 {
        font-size: 26px;
        line-height: 26px;
    }
    .section-title p {
        font-size: 9px;
        line-height: 17px;
        margin-bottom: -21px;
    }


    .match-list-left {
        width: 80%;
    }
    .mbox1-img {
        width: 124px;
        margin-top: 48px;
        margin-left: -12px;
    }
    .mcontent {
        width: 279px;
        left: 14%;
        padding: 7px 0;
    }
    .mbtn {
        left: 57%;
        padding: 7px 0px;
        width: 162px;
        height: 39px;
    }
    .mbtn h4 {
        font-size: 12px;
        padding: 0px 12px;
    }
    .match-time {
        width: 93%;
        margin-top: 37px;
    }
    .match-list-right {
        float: right;
        width: 113%;
        text-align: right;
    }
    .mbox2-img {
        width: 121px;
        margin-left: 239px;
        margin-top: 5px;
    }
    .mcontent2 {
        width: 256px;
        left: 14%;
        padding: 8px 0;
    }
    .mbtn2 {
        left: 18%;
        top: 76%;
        padding: 9px 5px;
    
    }
    .streaming-area {
        height: auto;
    }
    .single-stream {
        width: 103%;
    }
    .team-area {
        height: auto;
    }
    .single-team {
        width: 39%;
    }
    .team-img {
        width: 235px;
        top: 24%;
        z-index: 2;
        left: 40px;
    }
    .single-team:nth-child(2),.single-team:nth-child(3),.single-team:nth-child(4){
        display: none;
    }










    .contact-left {
        width: 51%;
    }
    .contact-left h3 {
        margin-bottom: 14px;
        font-size: 18px;
    }
    .contact-left h4 {
        font-size: 23px;
        margin: -5px 0;
        width: 331px;
    }
    .contact-left h5 {
        font-size: 24px;
        margin: 12px 0;
        width: 319px;
    }
    .contact-left p {
        margin-bottom: 23px;
        font-size: 14px;
        width: 318px;
    }
    .contact-btn1 {
        left: 30px;
    }
    .contact-right {
        width: 100%;
    }
    .contact-right input {
        width: 100%;
    }
    .contact-right textarea {
        width: 100%;
    }
    .single-team-img {
        width: 149px;
        margin-top: 58px;
    }
    .single-gears {
        width: 90%;
        margin-left: 50px;
        margin: 51px 0px 2px 37px;
    }
    .gears-img {
        width: 283px;
    }
    .gears-admin {
        width: 100%;
    }
    .gears-admin ul {
        width: 182px;
    }
    .single-headline {
        width: 100%;
    }
    .headline-img {
        height: 200px;
    }
    .headline-btn {
        top: 39%;
        left: -3px;
    }
    .headline-admin ul li {
        margin: 6px 16px;
    }
    .headline-content {
        margin-top: 0px;
    }
    .headline-content h1 {
        font-size: 16px;
    }
    .headline-content h2 {
        padding: 6px 0;
        font-size: 20px;
    }
    .headline-content h4 {
        font-size: 14px;
    }






    .footer-area {
        position: relative;
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;
    }



    .footer-logo {
        width: 100%;
    }
    .footer-links {
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .footer-links2 {
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 43px;
    }
    .footer-last {
        width: 100%;
        top: 96%;
    }
    .footer-last h4 {
        font-size: 14px;
    }
}


/* Tablet layout */
/* Cheeking size:800px; */

@media only screen and (min-width:768px)and(max-width:991px){
    .container{
        width: 750px;
    }



    
}

